.divTable {
    display: table;
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    height: 75vh;
    margin: auto;
}


.divTableBody {

    display: table-row-group;
}

.divTableRow {

    display: table-row;
}
.divTableCell{
    border: 1px solid black;
    display: table-cell;
    background-color: grey;
    /* margin: 0px 10px 0px 10px; */
}

#p1name, #p1table, #p2name, #p2table {
    border: 1px solid black;
}

/* .container {
    width: 95% !important;
} */

/* adding dragging properties to the users characters */

.draggable {
    padding: 1rem;
    cursor: grab !important;
}

/* when we hover on empty cell it should do something */
.hold { 
 border: solid #ccc 4px;
}
.hovered {
    background: #f4f4f4;
    border-style: dashed;
}
.invisible {
    visibility: hidden;
}


.row {
margin-bottom: 0px !important;
}

